@page "/musicdiscoveries/details"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>MusicDiscovery</h2>
    <hr />
    @if (musicdiscovery is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@musicdiscovery.UserId</dd>
            <dt class="col-sm-2">SongId</dt>
            <dd class="col-sm-10">@musicdiscovery.SongId</dd>
        </dl>
        <div>
            <a href="@($"/musicdiscoveries/edit?id={musicdiscovery.Id}")">Edit</a> |
            <a href="@($"/musicdiscoveries")">Back to List</a>
        </div>
    }
</div>

@code {
    private MusicDiscovery? musicdiscovery;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        musicdiscovery = await context.MusicDiscovery.FirstOrDefaultAsync(m => m.Id == Id);

        if (musicdiscovery is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
