@page "/moods/create"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Mood</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Mood" OnValidSubmit="AddMood" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Mood.Name" class="form-control" /> 
                <ValidationMessage For="() => Mood.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/moods">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Mood Mood { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMood()
    {
        using var context = DbFactory.CreateDbContext();
        context.Moods.Add(Mood);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/moods");
    }
}
