
@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized Context="auth">
        <h1>Welcome Home, @auth.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome, User!</h1>
    </NotAuthorized>
</AuthorizeView>

<p>What's your vibe today? ᯓ𝄞</p>