@page "/artists/create"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Artist</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Artist" OnValidSubmit="AddArtist" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Artist.Name" class="form-control" /> 
                <ValidationMessage For="() => Artist.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label> 
                <InputText id="gender" @bind-Value="Artist.Gender" class="form-control" /> 
                <ValidationMessage For="() => Artist.Gender" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/artists">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Artist Artist { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddArtist()
    {
        using var context = DbFactory.CreateDbContext();
        context.Artists.Add(Artist);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/artists");
    }
}
