@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MeowsicLabzz.Components.Domain
@using MeowsicLabzz.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MeowsicLabzz.Data.MeowsicLabzzContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn Property="users => users.Username" />
    <PropertyColumn Property="users => users.Email" />
    <PropertyColumn Property="users => users.CreatedAt" />
    <PropertyColumn Property="users => users.UpdatedAt" />
    <PropertyColumn Property="users => users.Createdby" />
    <PropertyColumn Property="users => users.UpdatedBy" />

    <TemplateColumn Context="users">
        <a href="@($"users/edit?id={users.Id}")">Edit</a> |
        <a href="@($"users/details?id={users.Id}")">Details</a> |
        <a href="@($"users/delete?id={users.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MeowsicLabzzContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
