@page "/admin/album/edit"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@using MeowsicLabzz.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@attribute [Authorize(Roles = "Administrator")]
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Album (Admin)</PageTitle>

<h3>Edit Album (Admin)</h3>

@if (AlbumModel is null)
{
 <p><em>Loading...</em></p>
}
else
{
 <div class="card mb-3 p-3 bg-purple">
 <EditForm method="post" Model="AlbumModel" OnValidSubmit="UpdateAlbum" FormName="edit" Enhance>
 <DataAnnotationsValidator />
 <ValidationSummary class="text-danger" />

 <input type="hidden" name="AlbumModel.Id" value="@AlbumModel.Id" />

 <div class="mb-3">
 <label class="form-label">Id:</label>
 <InputNumber class="form-control bg-light" @bind-Value="AlbumModel.Id" Disabled="true" />
 </div>

 <div class="mb-3">
 <label class="form-label">Title:</label>
 <InputText class="form-control" @bind-Value="AlbumModel.Title" />
 <ValidationMessage For="() => AlbumModel.Title" class="text-danger" />
 </div>

 <div class="mb-3">
 <label class="form-label">Artist:</label>
 <InputSelect class="form-select" @bind-Value="AlbumModel.ArtistId">
 <option value="0">Choose...</option>
 @foreach (var a in artists)
 {
 <option value="@a.Id">@a.Name</option>
 }
 </InputSelect>
 </div>

 <button type="submit" class="btn btn-primary">Save</button>
 </EditForm>
 </div>
}

<div>
 <a href="/admin/albums">Back to List</a>
</div>

@code {
 [SupplyParameterFromQuery]
 private int Id { get; set; }

 [SupplyParameterFromForm]
 private MeowsicLabzz.Components.Domain.Album? AlbumModel { get; set; }
 private List<MeowsicLabzz.Components.Domain.Artist> artists = new();

 protected override async Task OnInitializedAsync()
 {
 using var context = DbFactory.CreateDbContext();
 artists = await context.Artists.OrderBy(a => a.Name).ToListAsync();
 AlbumModel ??= await context.Albums.FirstOrDefaultAsync(a => a.Id == Id);
 if (AlbumModel is null) NavigationManager.NavigateTo("/notfound");
 }

 private async Task UpdateAlbum()
 {
 using var context = DbFactory.CreateDbContext();
 context.Attach(AlbumModel!).State = EntityState.Modified;
 try
 {
 await context.SaveChangesAsync();
 }
 catch (DbUpdateConcurrencyException)
 {
 if (!AlbumExists(AlbumModel!.Id))
 {
 NavigationManager.NavigateTo("/notfound");
 }
 else
 {
 throw;
 }
 }

 NavigationManager.NavigateTo("/admin/albums");
 }

 private bool AlbumExists(int id)
 {
 using var context = DbFactory.CreateDbContext();
 return context.Albums.Any(e => e.Id == id);
 }
}