@page "/friends/edit"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@inject IDbContextFactory<MeowsicLabzz.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Friends</h2>
<hr />
@if (Friends is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Friends" OnValidSubmit="UpdateFriends" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Friends.Id" value="@Friends.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Friends.Name" class="form-control" />
                    <ValidationMessage For="() => Friends.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserID:</label>
                    <InputNumber id="userid" @bind-Value="Friends.UserID" class="form-control" />
                    <ValidationMessage For="() => Friends.UserID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/friends">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Friends? Friends { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Friends ??= await context.Friends.FirstOrDefaultAsync(m => m.Id == Id);

        if (Friends is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFriends()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Friends!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FriendsExists(Friends!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/friends");
    }

    private bool FriendsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Friends.Any(e => e.Id == id);
    }
}
