@page "/admin/moods/create"
@using Microsoft.EntityFrameworkCore
@using MeowsicLabzz.Components.Domain
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]
@inject MeowsicLabzz.Data.ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Create Mood (Admin)</PageTitle>

<h3>Create Mood (Admin)</h3>

<div class="card mb-3 p-3 bg-purple">
 <EditForm method="post" Model="MoodModel" OnValidSubmit="AddMood" FormName="create" Enhance>
 <DataAnnotationsValidator />
 <ValidationSummary class="text-danger" />

 <div class="mb-3">
 <label class="form-label">Id:</label>
 <InputNumber class="form-control bg-light" @bind-Value="MoodModel.Id" Disabled="true" />
 </div>

 <div class="mb-3">
 <label class="form-label">Name:</label>
 <InputText class="form-control" @bind-Value="MoodModel.Name" />
 <ValidationMessage For="() => MoodModel.Name" class="text-danger" />
 </div>

 <button type="submit" class="btn btn-primary">Create</button>
 </EditForm>
 </div>

<div>
 <a href="/admin/moods">Back to List</a>
</div>

@code {
 [SupplyParameterFromForm]
 private MeowsicLabzz.Components.Domain.Mood MoodModel { get; set; } = new MeowsicLabzz.Components.Domain.Mood();

 private async Task AddMood()
 {
 Db.Moods.Add(MoodModel);
 await Db.SaveChangesAsync();
 NavigationManager.NavigateTo("/admin/moods");
 }
}
