@page "/admin/users"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]
@inject NavigationManager NavigationManager


<h3>Users' Accounts</h3>
<button type="button" class="btn btn-secondary mb-3" @onclick="GoBack">← Back to Admin</button>

@code {
 private void GoBack()
 {
 NavigationManager.NavigateTo("/admin");
 }
}
